# ====== 核心网络配置 ======
# 如果项目部署在子目录下 (例如 https://yourdomain.com/tools/brainflow)，则填写 /tools/brainflow
# 如果部署在根域名下，留空即可
NEXT_PUBLIC_BASE_PATH=

# ====== Redis 缓存队列配置 (必填) ======
# 支持本地原生安装的 Redis、Docker 部署的 Redis，或者第三方 Serverless 云 Redis (如 Upstash)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# REDIS_PASSWORD=your_redis_password_if_any

# ====== AI大模型配置 ======
DEEPSEEK_API_KEY=your_deepseek_api_key_here

# ====== 阿里云全局凭证 (需开启 STS 权限) ======
# 说明：供服务端拉取临时音视频/文档使用，由于我们即将使用前端零宽带直传阿里云，此 Key 必须配置好对应的 RAM Role
ALIYUN_ACCESS_KEY_ID=your_aliyun_access_key
ALIYUN_ACCESS_KEY_SECRET=your_aliyun_access_secret
ALIYUN_STS_ROLE_ARN=your_aliyun_sts_role_arn

# 阿里云 OSS 专属配置
ALIYUN_OSS_REGION=oss-cn-shenzhen.aliyuncs.com
ALIYUN_OSS_BUCKET=your_bucket_name

# 阿里云 通义听悟 API KEY (语音识别服务)
TINGWU_APP_KEY=your_tingwu_app_key